// .zoom-06-background {
//   position: absolute;
//   height: 200vh;
//   width: 100%;
//   z-index: 26;
// }
// .zoom-06-element-1 {
//   position: absolute;
//   height: auto;
//   width: 100%;
//   bottom: -10%;
//   z-index: 28;
// }
// .zoom-06-element-2 {
//   position: absolute;
//   height: auto;
//   width: 100%;
//   z-index: 27;
//   bottom: -10%;
// }
// .zoom-06-element-3 {
//   position: absolute;
//   height: auto;
//   width: 100%;
//   z-index: 26;
//   bottom: -10%;
// }
.zoom-06-background {
  position: relative;
  background-image: url("../img-webp/zoom-6-7-0.webp");
  background-position: top;
  background-repeat: no-repeat;
  height: 200vh;
  width: 100vw;
  background-size: cover;
}
.zoom-06-element-1 {
  position: absolute;
  bottom: -10%;
  width: 100%;
  z-index: 29;
}
.zoom-06-element-2 {
  position: absolute;
  bottom: -10%;
  width: 100%;
  z-index: 28;
}
.zoom-06-element-3 {
  position: absolute;
  bottom: -10%;
  width: 100%;
  z-index: 27;
}
