.zoom-01 {
  position: absolute;
  color: white;
  text-align: center;
}

.zoom-01-title {
  font-family: Dorsa;
  position: absolute;
  color: white;
  text-align: center;
  leading-trim: both;
  font-size: 650px;
  font-style: normal;
  font-weight: 400;
  line-height: 222px;
  text-transform: uppercase;
  top: 20%;
  left: 30%;
  right: 30%;
  z-index: 0;
}

.zoom-01-start-button-elements {
  display: flex;
  text-align: center;
  font-family: "Albert Sans";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1.68px;
  border-radius: 100px;
  border: 2px solid #fff;
  padding: 15px 50px 19px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background-color: transparent;
  color: #fff;
}

.zoom-01-start-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  bottom: 10%;
  left: 40%;
  right: 40%;
  z-index: 3;
}

.zoom-01-background {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: -1;
}
.zoom-01-element-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
}
.zoom-01-element-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
