.zoom-03-background {
  position: absolute;
  width: 102vw;
  height: 102vw;
  z-index: 36;
  top: -5;
}
.zoom-03-element-1 {
  position: absolute;
  z-index: 44;
}
.zoom-03-element-2 {
  position: absolute;
  z-index: 43;
}
.zoom-03-element-3 {
  position: absolute;
  z-index: 42;
}
.zoom-03-element-4 {
  position: absolute;
  z-index: 41;
}
.zoom-03-element-5 {
  position: absolute;
  z-index: 40;
}
.zoom-03-element-6 {
  position: absolute;
  z-index: 39;
}
.zoom-03-element-7 {
  position: absolute;
  z-index: 38;
}
.zoom-03-element-8 {
  position: absolute;
  z-index: 37;
}
.zoom-03-text {
  position: absolute;
  z-index: 45;
}
.zoom-03-text-2 {
  position: absolute;
  z-index: 45;
}
