.zoom-04-background {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: 32;
  top: -5;
}
.zoom-04-element-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 35;
}
.zoom-04-element-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 34;
  bottom: 2%;
}
.zoom-04-text {
  width: 40%;
  z-index: 35;
  right: 50;
  top: 150;
  text-align: right;
}
.zoom-04-text-2 {
  width: 40%;
  z-index: 35;
  left: 50;
  top: 80;
}
