.zoom-general-text {
  position: absolute;
  color: #fff;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: "Bricolage Grot";
  font-size: 70px;
  font-weight: 550;
  line-height: 100%;
}
