.zoom-05-background {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: 29;
}
.zoom-05-element-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 31;
}
.zoom-05-element-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
}
.zoom-05-text {
  width: 30%;
  z-index: 31;
  right: 50;
  top: 80;
}

.zoom-05-text-2 {
  width: 50%;
  z-index: 31;
  right: 300;
  top: 140;
}
