.zoom-03-background {
  position: absolute;
  width: 102vw;
  height: 102vw;
  z-index: 36;
  top: -5;
}
.zoom-03-element-1 {
  position: absolute;
  z-index: 44;
  width: 102vw;
  top: -30%;
}
.zoom-03-element-2 {
  position: absolute;
  z-index: 43;
  top: -30%;
  width: 102vw;
}
.zoom-03-element-3 {
  position: absolute;
  z-index: 42;
  top: -20%;
  width: 102vw;
}
.zoom-03-element-4 {
  position: absolute;
  z-index: 41;
  top: -10%;
  width: 102vw;
}
.zoom-03-element-5 {
  position: absolute;
  z-index: 40;
  top: -30%;
  width: 102vw;
}
.zoom-03-front-seagulls {
  position: absolute;
  z-index: 44;
  width: 140vw;
}
.zoom-03-middle-seagulls {
  position: absolute;
  z-index: 45;
  width: 102vw;
  right: 80;
}
.zoom-03-back-seagulls {
  position: absolute;
  z-index: 40;
  bottom: 70;
  right: 50;
  width: 60vw;
}
.zoom-03-text {
  position: absolute;
  z-index: 43;
  left: 50;
  top: 80;
}
.zoom-03-text-2 {
  position: absolute;
  z-index: 43;
  right: 50;
  top: 160;
  width: 55%;
  text-align: right;
}
