.zoom-04-background {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: 32;
  top: -5;
}
.zoom-04-element-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 35;
}
.zoom-04-element-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 34;
}
.zoom-04-element-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 48;
  bottom: 33;
}

.zoom-04-text {
  font-size: 60;
  width: 40%;
  z-index: 35;
  right: 5;
}
.zoom-04-text-2 {
  font-size: 60;
  width: 40%;
  z-index: 35;
  right: 5;
}
