.zoom-06-background {
  position: relative;
  background-image: url("../img-webp/zoom-6-7-0.webp");
  background-position: top;
  background-repeat: no-repeat;
  height: 200vh;
  width: 100vw;
  background-size: cover;
  top: -40;
}
.zoom-06-element-1 {
  position: absolute;
  bottom: -5%;
  width: 100%;
  z-index: 29;
}
.zoom-06-element-2 {
  position: absolute;
  bottom: -10%;
  width: 100%;
  z-index: 28;
}
.zoom-06-element-3 {
  position: absolute;
  bottom: -25%;
  width: 100%;
  z-index: 27;
}

.zoom-06-text {
  width: 40%;
  z-index: 28;
  left: 50;
  top: 150;
  position: relative;
}
.zoom-06-text-2 {
  width: 40%;
  z-index: 28;
  left: 500;
  top: 150;
  position: relative;
}
