.zoom-02-background {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: -4;
}
.zoom-02-element-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
  top: 0;
}
.zoom-02-element-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 30;
}
