.zoom-05-background {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: 29;
}
.zoom-05-element-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 31;
}
.zoom-05-element-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
}
.zoom-05-text {
  font-size: 60;
  width: 40%;
  z-index: 31;
  right: 5;
}

.zoom-05-text-2 {
  font-size: 60;
  width: 40%;
  z-index: 31;
  right: 5;
}
