.zoom-02-background {
  position: absolute;
  width: 100vw;
  height: 100vw;
  z-index: 46;
}
.zoom-02-moon {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 47;
}
.zoom-02-element-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 47;
}
.zoom-02-element-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 48;
  bottom: -90;
}
.zoom-02-moon {
  width: 80%;
}

.zoom-02-text {
  font-size: 60;
  width: 40%;
  z-index: 47;
  right: 50;
  top: 100;
}
