@font-face {
  font-family: Albert Sans;
  src: url(/src/font/AlbertSans-Regular.ttf);
}

@font-face {
  font-family: Dorsa;
  src: url(/src/font/Dorsa-Regular.ttf);
}

@font-face {
  font-family: "Bricolage Grot";
  src: url(/src/font/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}
