.l-zoom-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.l-horinzontal-scroll {
  bottom: 0.06%;
  position: absolute;
  left: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

l-footer {
}
